[mysqld]

# Log Levels:
# 1 = ERROR: Error messages only
# 2 = ERROR + WARNING: Error and warning messages
# 3 = ERROR + WARNING + NOTES: Error, warning, and note messages

# Set to maximum verbosity (ERROR + WARNING + NOTES)
log_error_verbosity = 3  

# MySQL sunucusunun hata kayıtlarının tutulacağı dosya yolunu belirtir
log_error = /var/log/mysql/error.log

# Tüm MySQL sorgularının kaydedileceği genel log dosyasının yolunu belirtir
general_log_file = /var/log/mysql/mysql.log

# Genel loglama özelliğini aktif hale getirir
general_log = 1

# Yavaş sorguların loglanması özelliğini aktif hale getirir
slow_query_log = 1

# Yavaş sorguların kaydedileceği dosyanın yolunu belirtir
slow_query_log_file = /var/log/mysql/slow.log

# Bir sorgunun "yavaş" sayılması için geçmesi gereken süreyi saniye cinsinden belirtir
long_query_time = 2

# Index kullanmayan sorguların loglanmasını aktif hale getirir
log_queries_not_using_indexes = 1