[mysqld]
server_id=1
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
binlog_format=ROW
transaction_write_set_extraction=XXHASH64

# Group Replication Ayarları
group_replication_group_name="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
group_replication_start_on_boot=OFF
group_replication_bootstrap_group=ON
group_replication_single_primary_mode=OFF  # Multi-Master için OFF
group_replication_enforce_update_everywhere_checks=TRUE
group_replication_local_address= "mysql1:24901"
group_replication_group_seeds= "mysql1:24901,mysql2:24901,mysql3:24901"
group_replication_ip_whitelist="0.0.0.0/0"

# Binlog Ayarları
log_bin=binlog
binlog_auto_increment_increment=3
binlog_auto_increment_offset=1

# Ağ Ayarları
bind-address=0.0.0.0

# Diğer Ayarlar
super_read_only=OFF
